---
import type { HTMLAttributes } from "astro/types";
import Text from "../ui/Text.astro";

type TextColor = "default" | "white" | "muted";

export interface Props extends HTMLAttributes<"div"> {
  title: string;
  description?: string;
  textColor?: TextColor;
}

const {
  title,
  description,
  textColor: titleColor = "default",
  class: _class = "",
  ...rest
} = Astro.props;

const textColorClasses = {
  default: "text-slate-900",
  white: "text-white",
  muted: "text-slate-600",
};
---

<div
  class:list={["text-center", textColorClasses[titleColor], _class]}
  {...rest}
>
  <h2 class={`text-3xl md:text-4xl font-bold mb-4`}>
    {title}
  </h2>

  {description && <Text variant="lead">{description}</Text>}
</div>
