---
import type { HTMLAttributes } from "astro/types";
import ResponsiveContainer from "./ResponsiveContainer.astro";
import PaddedContainer from "./PaddedContainer.astro";

export interface Props extends HTMLAttributes<"section"> {}

const { class: _class = "", ...rest } = Astro.props;
---

<section class:list={[_class]} {...rest}>
  <ResponsiveContainer>
    <PaddedContainer paddingY="4xl">
      <slot />
    </PaddedContainer>
  </ResponsiveContainer>
</section>
