---
import type { HTMLAttributes } from "astro/types";
import ResponsiveContainer from "./ResponsiveContainer.astro";
import PaddedContainer from "./PaddedContainer.astro";

type Background = "white" | "gray" | "blue" | "green" | "dark";

export interface Props extends HTMLAttributes<"section"> {
  background?: Background;
}

const { background = "white", class: _class = "", ...rest } = Astro.props;

const backgroundClasses: Record<Background, string> = {
  white: "bg-white",
  gray: "bg-slate-100",
  blue: "bg-blue-600 text-white",
  green: "bg-green-600 text-white",
  dark: "bg-slate-900 text-white",
};
---

<section class:list={[backgroundClasses[background], _class]} {...rest}>
  <ResponsiveContainer>
    <PaddedContainer paddingY="4xl">
      <slot />
    </PaddedContainer>
  </ResponsiveContainer>
</section>
