---
import type { HTMLAttributes } from "astro/types";

type BackgroundColor = "white" | "gray" | "blue" | "green" | "dark";

export interface Props extends HTMLAttributes<"div"> {
  backgroundColor?: BackgroundColor;
}

const { backgroundColor: background = "white", class: _class = "", ...rest } = Astro.props;

const backgroundColorClasses: Record<BackgroundColor, string> = {
  white: "bg-white",
  gray: "bg-slate-100",
  blue: "bg-blue-600 text-white",
  green: "bg-green-600 text-white",
  dark: "bg-slate-900 text-white",
};
---

<div class:list={[backgroundColorClasses[background], _class]} {...rest}>
  <slot />
</div>
